@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Support";
}

<div class="align-content-center py-3" style="font-weight:500; font-size:18px;">
    <div id="support-accordion">
        <!-- Apa itu Bootcoin? -->
        <div class="card border-0 shadow rounded mb-1">
            <a id="support-1-head" class="card-body px-4 support-card" data-bs-toggle="collapse" href="#support-1-ans" aria-expanded="false" aria-controls="support-1-ans" style="color:inherit !important; text-decoration:none !important; font-weight:500;">
                <span style="float:left" class="support-text">Apa itu Bootcoin?</span>
                <span style="float:right" class="material-icons me-auto">expand_more</span>
            </a>
            <div id="support-1-ans" class="collapse support-answer px-2" aria-labelledby="support-1-head" data-parent="#support-accordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur. Cursus nisl purus tempor sapien est. Integer sed viverra pellentesque orci
                    erat viverra hendrerit duis cursus. Diam pellentesque commodo arcu nunc orci tellus purus quis. Venenatis semper
                    ac volutpat nec semper tincidunt. Leo ultricies felis elementum rhoncus tristique nulla justo. Vitae consectetur
                    phasellus magna tellus. Feugiat id maecenas auctor ut sit dui pretium orem ipsum dolor sit amet consectetur. Cursus
                    nisl purus tempor sapien est. Integer sed viverra pellentesque orci erat viverra hendrerit duis cursus.
                </div>
            </div>
        </div>

        <!-- Fungsi Bootcoin -->
        <div class="card border-0 shadow rounded mb-1">
            <a id="support-2-head" class="card-body px-4 support-card" data-bs-toggle="collapse" href="#support-2-ans" aria-expanded="false" aria-controls="support-2-ans" style="color:inherit !important; text-decoration:none !important; font-weight:500;">
                <span style="float:left" class="support-text">Fungsi Bootcoin</span>
                <span style="float:right" class="material-icons me-auto">expand_more</span>
            </a>
            <div id="support-2-ans" class="collapse support-answer px-2" aria-labelledby="support-2-head" data-parent="#support-accordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur. Cursus nisl purus tempor sapien est. Integer sed viverra pellentesque orci
                    erat viverra hendrerit duis cursus. Diam pellentesque commodo arcu nunc orci tellus purus quis. Venenatis semper
                    ac volutpat nec semper tincidunt. Leo ultricies felis elementum rhoncus tristique nulla justo. Vitae consectetur
                    phasellus magna tellus. Feugiat id maecenas auctor ut sit dui pretium orem ipsum dolor sit amet consectetur. Cursus
                    nisl purus tempor sapien est. Integer sed viverra pellentesque orci erat viverra hendrerit duis cursus.
                </div>
            </div>
        </div>

        <!-- Kapan Bootcoin dapat digunakan?-->
        <div class="card border-0 shadow rounded mb-1">
            <a id="support-3-head" class="card-body px-4 support-card" data-bs-toggle="collapse" href="#support-3-ans" aria-expanded="false" aria-controls="support-3-ans" style="color:inherit !important; text-decoration:none !important; font-weight:500;">
                <span style="float:left" class="support-text">Kapan Bootcoin dapat digunakan?</span>
                <span style="float:right" class="material-icons me-auto">expand_more</span>
            </a>
            <div id="support-3-ans" class="collapse support-answer px-2" aria-labelledby="support-3-head" data-parent="#support-accordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur. Cursus nisl purus tempor sapien est. Integer sed viverra pellentesque orci
                    erat viverra hendrerit duis cursus. Diam pellentesque commodo arcu nunc orci tellus purus quis. Venenatis semper
                    ac volutpat nec semper tincidunt. Leo ultricies felis elementum rhoncus tristique nulla justo. Vitae consectetur
                    phasellus magna tellus. Feugiat id maecenas auctor ut sit dui pretium orem ipsum dolor sit amet consectetur. Cursus
                    nisl purus tempor sapien est. Integer sed viverra pellentesque orci erat viverra hendrerit duis cursus.
                </div>
            </div>
        </div>

        <!-- Bagaimana cara mendapatkan Bootcoin? -->
        <div class="card border-0 shadow rounded mb-1">
            <a id="support-4-head" class="card-body px-4 support-card" data-bs-toggle="collapse" href="#support-4-ans" aria-expanded="false" aria-controls="support-4-ans" style="color:inherit !important; text-decoration:none !important; font-weight:500;">
                <span style="float:left" class="support-text">Bagaimana cara mendapatkan Bootcoin?</span>
                <span style="float:right" class="material-icons me-auto">expand_more</span>
            </a>
            <div id="support-4-ans" class="collapse support-answer px-2" aria-labelledby="support-4-head" data-parent="#support-accordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur. Cursus nisl purus tempor sapien est. Integer sed viverra pellentesque orci
                    erat viverra hendrerit duis cursus. Diam pellentesque commodo arcu nunc orci tellus purus quis. Venenatis semper
                    ac volutpat nec semper tincidunt. Leo ultricies felis elementum rhoncus tristique nulla justo. Vitae consectetur
                    phasellus magna tellus. Feugiat id maecenas auctor ut sit dui pretium orem ipsum dolor sit amet consectetur. Cursus
                    nisl purus tempor sapien est. Integer sed viverra pellentesque orci erat viverra hendrerit duis cursus.
                </div>
            </div>
        </div>

        <!-- Bagaimana cara mengecek Bootcoin saya? -->
        <div class="card border-0 shadow rounded mb-1">
            <a id="support-5-head" class="card-body px-4 support-card" data-bs-toggle="collapse" href="#support-5-ans" aria-expanded="false" aria-controls="support-5-ans" style="color:inherit !important; text-decoration:none !important; font-weight:500;">
                <span style="float:left" class="support-text">Bagaimana cara mengecek Bootcoin saya?</span>
                <span style="float:right" class="material-icons me-auto">expand_more</span>
            </a>
            <div id="support-5-ans" class="collapse support-answer px-2" aria-labelledby="support-5-head" data-parent="#support-accordion">
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur. Cursus nisl purus tempor sapien est. Integer sed viverra pellentesque orci
                    erat viverra hendrerit duis cursus. Diam pellentesque commodo arcu nunc orci tellus purus quis. Venenatis semper
                    ac volutpat nec semper tincidunt. Leo ultricies felis elementum rhoncus tristique nulla justo. Vitae consectetur
                    phasellus magna tellus. Feugiat id maecenas auctor ut sit dui pretium orem ipsum dolor sit amet consectetur. Cursus
                    nisl purus tempor sapien est. Integer sed viverra pellentesque orci erat viverra hendrerit duis cursus.
                </div>
            </div>
        </div>
    </div>
</div>

